backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
certifi==2022.12.7
chardet==3.0.4
futures==3.1.1
hupper==1.0
idna==2.6
iso-639==0.4.5
iso3166==0.8
PasteDeploy==1.5.2
plaster==0.5
plaster-pastedeploy==0.4.1
pycryptodome==3.4.7
pyramid==1.9.1
repoze.lru==0.7
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
streamlink==0.8.1
translationstring==1.3
urllib3==1.22
venusian==1.1.0
WebOb==1.7.3
websocket-client==0.44.0
zope.deprecation==4.3.0
zope.interface==4.4.2
